t@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); /* import czcionek */

/* podstawowe zasady formatowania dla całej strony internetowej */
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
/* Nagłówki i tekst */

h1, h2, h3 {
    margin: 10px 0;  /* Odstępy pionowe ustawione na 10px */
    text-align: center; /* Wyrównanie tekstu do środka */
}

p.error {
    color: red; /* tekst wyróżniony kolorem czerwonym*/
    font-weight: bold; /* pogrubiony */
    text-align: center;
}

p {
    text-align: center;
}

/* Kontenery */
.row-container {
    display: flex; /* Ustawia elementy w elastycznym układzie */
    justify-content: center; /* Centruje elementy w rzędzie */
    flex-wrap: wrap; /* Wiersze automatycznie zawijają się */
    padding: 20px; /* Dodaje wewnętrzny odstęp 20px */
    box-sizing: border-box; /* Włącza liczenie paddingu  */
}

