t@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); /* import czcionek */

/* podstawowe zasady formatowania dla całej strony internetowej */
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
/* Nagłówki i tekst */

h1, h2, h3 {
    margin: 10px 0;  /* Odstępy pionowe ustawione na 10px */
    text-align: center; /* Wyrównanie tekstu do środka */
}

p.error {
    color: red; /* tekst wyróżniony kolorem czerwonym*/
    font-weight: bold; /* pogrubiony */
    text-align: center;
}

p {
    text-align: center;
}

/* Kontenery */
.row-container {
    display: flex; /* Ustawia elementy w elastycznym układzie */
    justify-content: center; /* Centruje elementy w rzędzie */
    flex-wrap: wrap; /* Wiersze automatycznie zawijają się */
    padding: 20px; /* Dodaje wewnętrzny odstęp 20px */
    box-sizing: border-box; /* Włącza liczenie paddingu  */
}

/* Pojedynczy kontener */

.single-container {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); /*  Dodaje delikatny cień */
    border-radius: 8px;/*  Zaokrąglenie rogów */
    padding: 20px;
    margin: 10px;
    max-width: 1000px; /* Ogranicza szerokość kontenera do 1000px */
    width: 100%; /* Kontener zajmuje całą szerokość, o ile mieści się w limicie  */
    text-align: center;
}
/* Tabele */

/* Główny styl tabel */
.table-container {
    margin-top: 20px;
    overflow-x: auto; /* Dodaje przewijanie w poziomie dla tabeli, gdy jest zbyt szeroka */
}

table {
    margin-top: 10px;
    border-collapse: collapse;  /* Kolumny składają się bez odstępów */
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd; /* Komórki mają szare obramowania  */
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Wiersze parzyste mają jasnoszare tło */
}
 /* Szerokie tabele */

 .wide-table {
    table-layout: fixed;  /* Wszystkie kolumny mają równą szerokość */
    min-width: 800px;  /*  Minimalna szerokość tabeli to 800px */
    width: 100%;
}

 /* Przyciski */

button {
    margin-top: 20px;  /* Dodaje odstęp nad przyciskiem */
    padding: 10px 20px;  /* Wewnątrz przycisku jest 10px w pionie i 20px w poziomie */
    font-size: 13px;  /* Tekst ma rozmiar 13px */
    color: #fff;  /* Biały tekst */
    background-color: #007bff;  /* Niebieskie tło */
    border: none;  /* Brak obramowania */
    border-radius: 5px;  /* Zaokrąglone rogi (5px) */
    cursor: pointer;  /* Kursor */
}

button:hover {
    background-color: #0056b3;
}  /* Tło ciemnieje po najechaniu kursorem */

/*  Kolory indeksu jakości powietrza */

.level-very-good { background-color: #94e494; } /* zielony */
.level-good { background-color: #b8ec9d; } /* jasny zielony */
.level-fair { background-color: #ffec99; } /* jasny żółty */
.level-moderate { background-color: #ffc98e; } /* jasny pomarańczowy */
.level-poor { background-color: #ffa1a1; } /* jasny czerwony */
.level-very-poor { background-color: #ff7272; } /* intensywny czerwony */
.level-unknown { background-color: #dddddd; } /* jasny szary */

/* Mapa */

#map {
    width: 100%;
    height: 400px;  /* wysokość */
    margin-top: 20px; /* odstęp */
    border: 1px solid #ccc; /* szara ramka */
    border-radius: 4px; /* zaokrąglone rogi */
}
/* Wykresy */
.chart-block {
    margin-bottom: 20px; /* Dodaje odstęp między blokami wykresów */
}
.chart-block canvas {
    width: 400px !important; /* Ustawia szerokość elementu <canvas> na 400px */
    height: 200px !important; /* Ustawia wysokość elementu <canvas> na 200px */
    display: block; /* Element <canvas> wyświetlany jako blok */
    margin: 0 auto; /* Wyrównanie do środka poprzez automatyczne marginesy */
}

/* Responsywność - dla ekranów o szerokości max 768px */
@media (max-width: 768px) {
    .single-container {
        max-width: 600px; /* Ograniczenie szerokości kontenera do 600px na mniejszych ekranach */
    }
    .chart-block canvas {
        width: 100% !important; /* Dopasowanie szerokości <canvas> do szerokości kontenera */
        height: 200px !important; /* Wysokość <canvas> pozostaje bez zmian */
    }
}

