<!DOCTYPE html>
<html lang="pl"> <!-- Komentarz w HTML -->
<head>
    <head>
  <meta charset="UTF-8"> <!-- Definiuje kodowanie znaków jako UTF-8, co umożliwia poprawne wyświetlanie polskich znaków i innych znaków specjalnych. -->
  <title>Jakość Powietrza</title> <!-- tytuł strony -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!--ładowanie czcionek z serwera -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"> <!-- import czcionki -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- ładowanie lokalnego pliku css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" /> <!-- ładowanie zewnętrznego css do renderowania map -->
</head>
<!-- -->
    <body> <!-- Główna sekcja dokumentu HTML -->

  <!-- Wiersz 1: Indeksy, opisy, poziomy, formularz -->
  <div class="row-container"> <!--kontener dla pierwszego wiersza strony -->
    <div class="single-container"> <!-- Kontener dla pojedynczego elementu w wierszu. -->
      <h1 style="font-size:3em;">Jakość Powietrza</h1> <!--tytuł: „Jakość Powietrza”, Zwiększa rozmiar czcionki o 300% w stosunku do domyślnego -->

       <!-- Tabela z zakresami indeksu -->
      <h3>Zakresy wartości indeksu powietrza</h3> <!--Nagłówek trzeciego poziomu -->
      <div class="table-container"> <!-- Zewnętrzny kontener tabeli, który zapewnia stylizację -->
        <table> <!--Tworzy strukturę tabeli -->
          <thead> <!--Sekcja nagłówka tabeli zawiera opisy kolumn -->
            <tr>
              <th>Indeks</th>
              <th>PM10</th>
              <th>PM2.5</th>
              <th>O3</th>
              <th>NO2</th>
              <th>SO2</th>
            </tr>
          </thead>
          <tbody> <!--Zawiera dane dotyczące poziomów jakości powietrza -->
            <tr>
              <td class="level-very-good">Bardzo dobry</td>
              <td>0 - 20</td>
              <td>0 - 13</td>
              <td>0 - 70</td>
              <td>0 - 40</td>
              <td>0 - 50</td>
            </tr>
            <tr>
              <td class="level-good">Dobry</td>
              <td>20.1 - 50</td>
              <td>13.1 - 35</td>
              <td>70.1 - 120</td>
              <td>40.1 - 100</td>
              <td>50.1 - 100</td>
            </tr>
            <tr>
              <td class="level-fair">Umiarkowany</td>
              <td>50.1 - 80</td>
              <td>35.1 - 55</td>
              <td>120.1 - 150</td>
              <td>100.1 - 150</td>
              <td>100.1 - 200</td>
            </tr>
            <tr>
              <td class="level-moderate">Dostateczny</td>
              <td>80.1 - 110</td>
              <td>55.1 - 75</td>
              <td>150.1 - 180</td>
              <td>150.1 - 200</td>
              <td>200.1 - 350</td>
            </tr>
            <tr>
              <td class="level-poor">Zły</td>
              <td>110.1 - 150</td>
              <td>75.1 - 110</td>
              <td>180.1 - 240</td>
              <td>200.1 - 300</td>
              <td>350.1 - 500</td>
            </tr>
            <tr>
              <td class="level-very-poor">Bardzo zły</td>
              <td>> 150</td>
              <td>> 110</td>
              <td>> 240</td>
              <td>> 300</td>
              <td>> 500</td>
            </tr>
          </tbody>
        </table>
      </div>
 <!-- Opisy poziomów jakości (kolorowane) -->
      <h3>Opisy poziomów jakości powietrza</h3> <!--Nagłówek sekcji -->
      <div class="table-container">
        <table>
          <thead> <!-- Nagłówki kolumn -->
            <tr>
              <th>Poziom</th>
              <th>Informacje zdrowotne</th>
            </tr>
          </thead>
          <tbody> <!-- Zawiera wiersze z nazwami poziomów jakości powietrza i ich szczegółowymi opisami zdrowotnymi -->
            <tr>
              <td class="level-very-good">Bardzo dobry</td> <!--Pierwsza kolumna  -->
              <td>Jakość powietrza jest bardzo dobra, zanieczyszczenie powietrza nie stanowi dla zdrowia, warunki bardzo sprzyjające do wszelkich aktywności na wolnym powietrzu.</td> <!-- Druga kolumna-->
            </tr>
            <tr>
              <td class="level-good">Dobry</td>
              <td>Jakość powietrza jest zadowalająca, zanieczyszczenie powietrza powoduje brak lub niskie ryzyko zagrożenia dla zdrowia. Można przebywać na wolnym powietrzu i wykonywać dowolną aktywność</td>
            </tr>
            <tr>
              <td class="level-fair">Umiarkowany</td>
              <td>Jakość powietrza jest akceptowalna. Zanieczyszczenie powietrza może stanowić zagrożenie dla zdrowia w szczególnych przypadkach (dla osób chorych, osób starszych, kobiet w ciąży oraz małych dzieci). Warunki umiarkowane dla aktywności na świeżym powietrzu.</td>
            </tr>
            <tr>
              <td class="level-moderate">Dostateczny</td>
              <td>Jakość powietrza jest dostateczna, zanieczyszczenie powietrza stanowi zagrożenie dla zdrowia (szczególnie dla osób chorych, starszych, kobiet w ciąży oraz małych dzieci) oraz może mieć negatywne skutki dla zdrowia</td>
            </tr>
            <tr>
              <td class="level-poor">Zły</td>
              <td>Jakość powietrza jest zła. Osoby chore, starsze, kobiety w ciąży oraz małe dzieci powinny unikać przebywania na wolnym powietrzu.</td>
            </tr>
            <tr>
              <td class="level-very-poor">Bardzo zły</td>
              <td>Jakość powietrza jest bardzo zła, należy unikać wszelkiej aktywności fizycznej na wolnym powietrzu, szczególnie wymagającej wysiłku.</td>
            </tr>
          </tbody>
        </table>
      </div>

           <!-- Poziomy informowania / alarmowe -->
      <h3>Poziomy informowania i alarmowe</h3> <!-- Nagłówek sekcji -->
      <p>Poziom informowania – rozumie się przez to stężenie substancji w powietrzu, powyżej którego istnieje zagrożenie zdrowia ludzkiego wynikające z krótkotrwałego narażenia na działanie zanieczyszczeń wrażliwych grup ludności, w przypadku którego niezbędna jest natychmiastowa i właściwa informacja.</p>  <!--Paragraf opisowy -->
      <p>Poziom alarmowy – oznacza poziom substancji w powietrzu, którego nawet krótkotrwałe przekroczenie może powodować zagrożenie dla zdrowia ludzi.</p> <!-- Paragraf opisowy -->
      <div class="table-container">
        <table>
          <thead> <!-- Nagłówki kolumn -->
            <tr>
              <th>Substancja</th>
              <th>Okres uśredniania</th>
              <th>Poziom informowania (µg/m³)</th>
              <th>Poziom alarmowy (µg/m³)</th>
            </tr>
          </thead>
          <tbody> <!-- Wiersze z danymi-->
            <tr>
              <td>Ozon (O3)</td>
              <td>1 godz.</td>
              <td>180</td>
              <td>240</td>
            </tr>
            <tr>
              <td>Pył PM10</td>
              <td>24 godz.</td>
              <td>100</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Dwutlenek azotu (NO2)</td>
              <td>1 godz.</td>
              <td>200</td>
              <td>400</td>
            </tr>
            <tr>
              <td>Dwutlenek siarki (SO2)</td>
              <td>1 godz.</td>
              <td>200</td>
              <td>500</td>
            </tr>
          </tbody>
        </table>
      </div>
         <!-- Formularz miasta -->
      <form method="post" style="margin-top:20px;"> <!-- Tworzy formularz, który przesyła dane metodą POST do serwera -->
        <label for="city">Podaj miasto:</label> <!-- Etykieta powiązana z polem tekstowym o identyfikatorze city -->
        <input type="text" id="city" name="city" required placeholder="Wpisz miasto"> <!--Pole tekstowe umożliwia użytkownikowi wpisanie nazwy miasta -->
        <button type="submit">Sprawdź</button> <!--Przycisk przesyła dane formularza do serwera + Tekst "Sprawdź" widoczny na przycisku -->
      </form>
    </div>
  </div>

<!-- Wiersz 2 Najbliższa stacja-->
  <div class="row-container"> <!--Tworzy zewnętrzny kontener i definiuje układ wierszy -->
    <div class="single-container">  <!--Tworzy pojedynczy kontener wewnątrz wiersz i  odpowiada za stylizację-->
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %} <!-- warunek, jeśli np jest problem z wyszukiwaniem to wyświetla się komunikat błędu i będzie on kolorze czerwonym- klasa CSS error-->

      {% if nearest_station %} <!--warunek Jeśli serwer przekazuje dane o najbliższej stacji -->
        <h2>Najbliższa stacja: {{ nearest_station.stationName }}</h2> <!--Wyświetla nazwę stacji -->
        <p>Odległość: {{ "%.2f"|format(distance) }} km</p> <!-- Wyświetla odległość do stacji w kilometrach, sformatowaną do dwóch miejsc po przecinku -->

        <div class="table-container">
          <h3>Bieżące pomiary (kolorowane)</h3> <!-- Nagłówek opisujący tabelę -->
          <table>
            <thead> <!--  Nagłówki -->
              <tr>
                <th>Parametr</th>
                <th>Wartość</th>
              </tr>
            </thead>
            <tbody>
              {% for pollutant, p_data in pollutant_data.items() %} <!--Pętla Jinja2 generuje dynamiczne wiersze tabeli na podstawie danych przekazanych z backendu -->
              <tr>
                <td>{{ pollutant }}</td> <!--Wyświetla nazwę parametru -->
                <td class="{{ p_data.color_class }}">{{ p_data.value_str }}</td> <!--Wyświetla wartość pomiaru -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

<!-- Mapa -->
        <div id="map"></div> <!-- Kontener dla interaktywnej mapy renderowanej za pomocą biblioteki Leaflet -->

        <!-- Przycisk "Dowiedz się więcej" zielony -->
        <button type="button" style="background-color:#8aea92;" onclick="showMoreInfo()">Dowiedz się więcej</button>  <!--  Przycisk z tekstem na zielonym tle z wywołaniem funkcji JavaScript, która wyświetla ukryty kontener z dodatkowymi informacjami -->

        <!-- Kontener info -->
        <div id="more-info" style="display:none; margin-top:20px; text-align:left;"> <!-- Ukryty kontener, wyświetlany po kliknięciu przycisku. -->
          <h3>Dodatkowe informacje o zanieczyszczeniach</h3>
          <ul>
            <li><strong>Pył zawieszony PM2.5</strong> – to aerozole atmosferyczne, których średnica nie jest większa niż 2.5 mikrometra. Tego rodzaju pył zawieszony jest uznawany za najgroźniejszy dla zdrowia człowieka.ył zawieszony PM2,5 jest odpowiedzialny za: nasilenie astmy ,osłabienie czynności płuc ,nowotwory płuc, gardła i krtani ,miażdżycę ,niższą masą urodzeniową dziecka i problemy z oddychaniem, gdy było ono narażone na kontakt z pyłami w trakcie rozwoju płodowego ,nasilenie objawów chorób związanych z układem krwionośnym i oddechowym..</li>
            <li><strong>Pył zawieszony PM10</strong> – to mieszanina zawieszonych w powietrzu cząsteczek, których średnica nie przekracza 10 mikrometrów. Jest szkodliwy z uwagi na zawartość takich elementów jak benzopireny, furany, dioksyny – rakotwórczych metali ciężkich.</li>
            <li><strong>Dwutlenek siarki (SO2)</strong> – jest jednym z najbardziej rozpowszechnionych gazów zanieczyszczających powietrze atmosferyczne, emitowanym przez ciepłownie i inne zakłady przemysłowe, które jako źródła energii używają paliw kopalnych zawierających domieszki siarki oraz jej związków. Wysokie stężenia SO2 wpływają niekorzystnie na układ oddechowy, uszkadzając nabłonek dróg oddechowych (nos, gardło, płuca) oraz powodując ich zwężenie.</li>
            <li><strong>Dwutlenek azotu (NO2)</strong> – ednym z głównych źródeł ich emisji jest transport drogowy. NO2 jest jednym z najbardziej szkodliwych składników smogu. Powoduje schorzenia tj.: astma oskrzelowa,przewlekła obturacyjna choroba płuc,choroby układu sercowo-naczyniowego ,nowotwory, w szczególności płuc i piersi.</li>
            <li><strong>Tlenek węgla (CO)</strong> – Tlenek węgla CO, potocznie nazywany czadem jest gazem silnie toksycznym. Oddychanie powietrzem zanieczyszczonym CO może wywoływać ból głowy, zawroty głowy, wymioty i nudności. Najwyższe stężenia CO obserwowane są najczęściej na zatłoczonych drogach. Problem może nasilać się zimą, gdy do emisji z transportu „dokłada się” emisja z systemów grzewczych w gospodarstwach domowych.</li>
            <li><strong>Benzen</strong> – jest jednym z najbardziej rozpowszechnionych w środowisku związków organicznych. Jego toksyczny, rakotwórczy i genotoksyczny wpływ na zdrowie jest dobrze udokumentowany naukowo. Ze względu na możliwe poziomy stężeń oraz źródła emisji, najwyższy poziom ryzyka dotyczy głównie stanowisk pracy oraz zanieczyszczenia powietrza wewnątrz pomieszczeń mieszkalnych. Wykazuje ostre toksyczne działanie w wysokich stężeniach. Ozon znajdujący się w stratosferze (ok. 10 – 50 km nad powierzchnią Ziemi), chroni ją przed nadmiernym promieniowaniem ultrafioletowym. Ozon w dolnej warstwie atmosfery (troposferze) jest zanieczyszczeniem powietrza. Podwyższone stężenie ozonu w powietrzu może prowadzić do reakcji zapalnych oczu czy chorób dróg oddechowych, w tym nasilenia objawów astmy oraz zmniejszenia wydolności płuc. </li>
            <li><strong>Ozon (O3)</strong> – jest jedną z odmian tlenu. Cząsteczki tlenu zbudowane są z dwóch atomów tlenu, natomiast ozon z trzech (O3). Ozon ma właściwości utleniające i w zależności od tego, w której warstwie atmosfery się znajduje jego rola i wpływ na zdrowie jest pozytywny lub negatywny. </li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>

 <!-- Wiersz 3: Wykresy godzinowe -->
  <div class="row-container">
    <div class="single-container">
      {% if hourly_plot_data %}  <!--  Warunek Jinja2 -Sprawdza, czy istnieją dane dla wykresów godzinowych,Jeśli zmienna hourly_plot_data jest pusta lub nie istnieje, ta sekcja nie będzie renderowana -->
        <h2>Wykresy godzinowe (00:00 – ostatnia pełnej godziny)</h2>  <!--Nagłówki -->
        {% for pollutant, data_points in hourly_plot_data.items() %}
          {% if data_points and data_points|length > 0 %} <!--Ten fragment przechodzi przez wszystkie parametry zanieczyszczeń i ich dane, a następnie przetwarza tylko te, które mają co najmniej jeden punkt danych. -->
          <div class="chart-block"> <!--Tworzy kontener dla pojedynczego wykresu -->
            <h3>{{ pollutant }}</h3> <!-- Wyświetla nazwę parametru -->
            <canvas id="chart-{{ pollutant }}"></canvas> <!-- Dynamicznie tworzy element dla każdego parametru. -->
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
